.main {
    margin: 20px
}

.cards-list {
    font-size: 0.8em;
}

.buttons {
    display: flex;
    justify-content: right;
}

.input-group {
    min-width: 350px;
    width: 20% !important;
}

.search-generate {
    display: flex;
    gap: 20px;
}

.h4-generate{
    padding-top: 3px;
}